@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
    font-size: 16px;
}
body {
    font-family: 'Jost', sans-serif;
    color: $gray;
}
.title {
    font-family: 'Cormorant', serif;
    font-size: 5rem;
    line-height: 1;
    span {
        font-style: italic;
    }
}
.ml {
    margin-left: 7.625rem;
}
.btn {
    background-color: $orange;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.375rem 2.625rem;
    border-radius: 2rem;
    letter-spacing: 0.075rem;
    box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
    transition: 0.3s ease;
}
.btn:hover {
    background-color: $orange-hover;
} 
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.section-main {
    background-image: url(../img/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &__image {
        position: absolute;
    }
    &__avocado {
        top: 47px;
        right: 0;
    }
    &__beans {
        left: -8px;
        bottom: 0;
    }
    &__cucumber {
        left: 682px;
        top: -2px;
    }
    &__pepper {
        left: 30px;
        top: 398px;
    }
    &__tomato {
        right: 113px;
        bottom: 0;
    }
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
        flex: 0 0 40%;
        padding-top: 16px;
        &__description {
            font-size: 1.125rem;
            line-height: 1.5;
            margin-top: 60px;
            margin-bottom: 78px;
        }
    }
    &-visual {
        box-shadow: 0 0 0 22px transparent, 0 0 0 1px rgba($color: $gray, $alpha: 0.4);
        border-radius: 100%;
        padding: 52px;
        position: relative;
        &__image {
            border: 1px solid rgba($color: $gray, $alpha: 0.4);
            border-radius: 100%;
            padding: 22px;
            img {
                border-radius: 100%;
                box-shadow: 20px 30px 30px 0px rgba($color: $gray, $alpha: 0.4);
            }
        }
        &__btn {
            background-color: transparent;
            border: none;
            text-align: left;
            color: rgba($color: $gray, $alpha: 0.8);
            position: absolute;
            span {
                display: block;
                color: rgba($color: $gray, $alpha: 1.0);
                margin-top: 5px;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background-color: $gray;
                box-shadow: 0 0 0 4px #FFFFFF, 0 0 0 5px $gray;
            }
            &:focus {
                outline: none;
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px #FFFFFF, 0 0 0 5px $orange;   
                }
            }
        }
        &__01 {
            left: 56px;
            top: 45px;
            &::before {
                left: 90px;
                top: 23px;
            }
        }
        &__02 {
            right: -2px;
            top: 193px;
            &::before {
                right: 95px;
                top: 18px;
            }
        }
        &__03 {
            right: 239px;
            bottom: -48px;
            &::before {
                right: 36px;
                bottom: 55px;
            }
        }
    }
}