.footer {
    border-top: 1px solid rgba($color: $gray, $alpha: 0.2);
    padding-top: 78px;
}
.box-footer {
    display: flex;
    justify-content: space-between;
    &__logo {
        height: 48px;
        width: 179px;
        margin-top: 6px;
    }
    &-item {
        flex: 0 0 66.4%;
        display: flex;
        justify-content: space-between;
    }
    &-info {
        &:last-child {
            text-align: right;
        }
    }
    &-list {
        list-style-type: none;
        &__item {
            margin-bottom: 28px;
            font-size: 1.125rem;
        }
        &__link {
            text-decoration: none;
            font-size: 1.125rem;
            color: $gray;
            transition: 0.3s ease;
            &:hover {
                color: $orange;
            }
        }
        &__tel {
            font-size: 1.687rem;
        }
    }
}
.box-footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-top: 6px;
    &__link {
        display: block;
        width: 48px;
        height: 48px;
        border: 1px solid $gray;
        border-radius: 100%;
        opacity: 0.8;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.3s ease;
        &:hover {
            opacity: 1;
        }
    
    }
    &__vk {
        background-image: url(../../../img/icons/vk.svg);
        background-size: 23px;
    }
    &__instagram {
        background-image: url(../../../img/icons/instagram.svg);
        background-size: 18px;
    }
    &__facebook {
        background-image: url(../../../img/icons/facebook.svg);
        background-size: 18px;
    }
}
.box-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 48px;
    &__copy {
        opacity: 0.6;
    }
    &__text {
        color: rgba($color: $gray, $alpha: 0.6);
    }
    &__link {
        text-decoration: none;
        color: rgba($color: $gray, $alpha: 0.6);
        &:hover {
            color: $gray;
        }
    }
}
